<div class="container">

    <div ng-show="!model.error && loginForm.$submitted && loginForm.$invalid" class="alert alert-danger" role="alert">
        There are errors in the form!!
    </div>

    <div ng-show="model.error" class="alert alert-danger" role="alert">
        {{model.error}}
    </div>

    <form name="loginForm"
         novalidate ng-submit="loginForm.$valid && model.login(username, password)">
    <h1>Login</h1>
    <input type="text"
           ng-model="username" required
           class="form-control"
           placeholder="username"
           name="username"
           autocorrect="off"
           autocapitalize=off"/>

        <div ng-show ="loginForm.$submitted && loginForm.username.$invalid" class="formFieldErrorMsg">
            Username is a required field
        </div>

    <input type="password"
           ng-model="password" required
           class="form-control"
           name="password"
           placeholder="password"/>
        <div ng-show ="loginForm.$submitted && loginForm.password.$invalid" class="formFieldErrorMsg">
            Password is a required field!!!
        </div>

    <h1>
    </h1>

    <button type="submit" class="btn btn-primary btn-block">Login</button>
    <a href="/auth/facebook" class="btn btn-primary btn-block">
        <span class="fa fa-facebook"></span>
        Facebook
    </a>

    <a class="btn btn-success btn-block"
       href="#/register">Register</a>

</form>
</div>