
<nav class="navbar navbar-default navbar-fixed-top  ">
    <div class="container-fluid">
            <div class="row">

                <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1">
                    <p class="navbar-text">
                        <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{model.pid}}/widget" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left ">
                        </span>
                        </a>
                    </p>
                </div>

                <div class="col-md-9 col-xs-9 col-sm-9 col-lg-9">
                    <a class="navbar-brand" href="#">
                        <span >Choose Widget</span>
                    </a>
                </div>
                <div class="col-md-1 col-xs-1 col-sm-1 col-lg-1"></div>
                <div class="col-xs-1 col-md-1 col-sm-1 col-lg-1">

                </div>
            </div>
    </div>
</nav>

<div class="container">


        <div class="row">


            <div class="col-xs-10 col-md-10 col-sm-10 col-lg-10">
                <a href ng-click="model.createWidget(model.createHeader)">
                <p class="text-fnt pull-left">Header</p>
                </a>
            </div>



            <div class="col-xs-10 col-md-10 col-sm-10 col-lg-10">
                <p class="text-fnt pull-left">Label</p>
            </div>



            <div class="col-xs-10 col-md-10 col-sm-10 col-lg-10">
                <a href ng-click="model.createWidget(model.createHTML)">
                <p class="text-fnt pull-left">HTML</p>
                    </a>
            </div>



            <div class="col-xs-10 col-md-10 col-sm-10 col-lg-10">
                <a href ng-click="model.createWidget(model.createTEXT)">
                <p class="text-fnt pull-left">Text Input</p>
                </a>
            </div>

            <div class="col-xs-10 col-md-10 col-sm-10 col-lg-10">
                <p class="text-fnt pull-left">Link</p>
            </div>



            <div class="col-xs-10 col-md-10 col-sm-10 col-lg-10">
                <p class="text-fnt pull-left">Button</p>
            </div>



            <div class="col-xs-10 col-md-10 col-sm-10 col-lg-10">
                <a href ng-click="model.createWidget(model.createImage)">
                <p class="text-fnt pull-left">Image</p>
                </a>
            </div>



            <div class="col-xs-10 col-md-10 col-sm-10 col-lg-10">
                <a href ng-click="model.createWidget(model.createYoutube)">
                <p class="text-fnt pull-left">Youtube</p>
                </a>
            </div>



            <div class="col-xs-10 col-md-10 col-sm-10 col-lg-10">
                <p class="text-fnt pull-left">Data Table</p>
            </div>



            <div class="col-xs-10 col-md-10 col-sm-10 col-lg-10">
                <p class="text-fnt pull-left">Repeater</p>
            </div>



        </div>

</div>

<nav class="navbar navbar-default navbar-fixed-bottom ">
    <div class="row">
        <div class="col-xs-10 col-md-11 col-sm-11 col-lg-11"></div>
        <div class="col-xs-2 col-md-1 col-sm-1 col-lg-1 pull-right">
            <div class="container">
                <div class="row navbar-text">
                    <a href="#/user/{{model.uid}}">
                        <span class="glyphicon glyphicon-user "></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
