
<nav class="navbar navbar-default navbar-fixed-top  ">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-11 col-xs-10 col-sm-11 col-lg-11">
                <p class="navbar-text pull-left">
                    <a href = "#/user/{{model.uid}}/website" class="navbar-link">
                        <span class="glyphicon glyphicon-chevron-left "></span>
                    </a>

                </p>
                <a class="navbar-brand">
                    <span class="  pull-left">Pages</span>
                </a>
            </div>

            <div class="col-xs-1 col-md-1 col-sm-1 col-lg-1 pull-right">
                <p class="navbar-text pull-right">
                    <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/new" class="navbar-link ">
                        <span class="glyphicon glyphicon-plus "></span>
                    </a>
                </p>
            </div>
        </div>
    </div>
</nav>


<div class="container">
    <ul class="list-group">
        <li ng-repeat="page in model.pages" class="list-group-item">

            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}/widget">{{page.name}}</a>

            <a href="#/user/{{model.uid}}/website/{{model.wid}}/page/{{page._id}}" class="pull-right">

                <span class="glyphicon glyphicon-cog"/>
            </a>
        </li>
    </ul>
</div>

<div class="container">
    <nav class="navbar navbar-default navbar-fixed-bottom ">
        <div class="row">
            <div class="col-xs-10 col-md-11 col-sm-11 col-lg-11"></div>
            <div class="col-xs-2 col-md-1 col-sm-1 col-lg-1 pull-right">
                <div class="container">
                    <div class="row navbar-text">
                        <a href="#/user/{{model.uid}}">
                            <span class="glyphicon glyphicon-user "></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</div>


<!---
<div class="container-fluid">
    <div class="container-fluid">
        <div class="row">

            <div class="col-xs-10 col-md-10 col-sm-10 col-lg-10">
                <a href="../widget/widget-list.view.client.html">
                    <p class="text-fnt pull-left">Blog Post</p>
                </a>
            </div>
            <a href="page-edit.view.client.html">
                <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                    <span class="glyphicon glyphicon-cog pull-right text-fnt "></span>
                </div>
            </a>
            <div class="col-xs-10 col-md-10 col-sm-10 col-lg-10">
                <a href="../widget/widget-list.view.client.html">
                    <p class="text-fnt pull-left">Blogs</p>
                </a>
            </div>
            <a href="page-edit.view.client.html">
                <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                    <span class="glyphicon glyphicon-cog pull-right text-fnt "></span>
                </div>
            </a>
            <div class="col-xs-10 col-md-10 col-sm-10 col-lg-10">
                <a href ="../widget/widget-list.view.client.html">
                    <p class="text-fnt pull-left">Home</p>
                </a>
            </div>
            <a href="page-edit.view.client.html">
                <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                    <span class="glyphicon glyphicon-cog pull-right text-fnt "></span>
                </div>
            </a>
            <div class="col-xs-10 col-md-10 col-sm-10 col-lg-10">
                <a href="../widget/widget-list.view.client.html">
                    <p class="text-fnt pull-left">About</p>
                </a>
            </div>
            <a href="page-edit.view.client.html">
                <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                    <span class="glyphicon glyphicon-cog pull-right text-fnt "></span>
                </div>
            </a>
            <div class="col-xs-10 col-md-10 col-sm-10 col-lg-10">
                <a href="../widget/widget-list.view.client.html">
                    <p class="text-fnt pull-left">Contact Us</p>
                </a>
            </div>
            <a href="page-edit.view.client.html">
                <div class="col-xs-2 col-md-2 col-sm-2 col-lg-2">
                    <span class="glyphicon glyphicon-cog pull-right text-fnt "></span>
                </div>
            </a>
        </div>
    </div>
</div>

--->

