<!--style="background-color: rgba(153, 153, 153, 0.18)"!important-->
<div class="container">
    <nav class="navbar navbar-default navbar-fixed-top">
        <!--<nav class="navbar navbar-default">-->
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a aria-expanded="false" class="navbar-brand" style="text-decorations:none; color:inherit;" href="#/home">book<strong>Reads</strong></a>

            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li ><a href="#/home/latest">Latest Release <span class="sr-only"></span></a></li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Languages <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li ><a href="#/home/booksbyLanguage/en">English</a></li>
                            <li role="separator" class="divider"></li>
                            <li ><a href="#/home/booksbyLanguage/fr">French</a></li>
                            <li role="separator" class="divider"></li>
                            <li ><a href="#/home/booksbyLanguage/de">German</a></li>
                            <li role="separator" class="divider"></li>
                            <li ><a href="#/home/booksbyLanguage/el">Greek</a></li>
                            <li role="separator" class="divider"></li>
                            <li ><a href="#/home/booksbyLanguage/hi">Hindi</a></li>
                            <li role="separator" class="divider"></li>
                            <li ><a href="#/home/booksbyLanguage/es">Spanish</a></li>
                            <li role="separator" class="divider"></li>
                            <li ><a href="#/home/booksbyLanguage/ru">Russian</a></li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a  class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Genre <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#/home/booksbyGenre/fiction">Fiction</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/home/booksbyGenre/Crime">Crime</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/home/booksbyGenre/Suspense">Suspense</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/home/booksbyGenre/Romance">Romance</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/home/booksbyGenre/Inspiration">Inspirational</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/home/booksbyGenre/Business">Business</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#/home/booksbyGenre/Computer">Computer</a></li>
                        </ul>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right navbar-form ">
                    <li ng-show="model.user!=null"><a ng-click="model.logout()">Sign Out <span class="sr-only"></span></a></li>
                </ul>
                </ul>
            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>
    </nav>
</div>

<div class="container">
    <div class="row">
        <div >
            <div   class="thumbnail" id="imageTn">
                <img ng-if="model.user.url" ng-src="{{model.user.url}}" width="20%" height="20%"/>
                <img ng-if="!model.user.url" src= "client/images/UserImage.png" width="20%"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12">
            <div id="tabs">
                <ul class="nav nav-pills nav-justified pillPad">
                    <li class="active">
                        <a data-toggle="pill" data-target="#details">
                            User Details
                        </a>
                    </li>
                    <li>
                        <a data-toggle="pill" data-target="#followers">
                            Followers
                        </a>
                    </li>
                    <li>
                        <a data-toggle="pill" data-target="#following">
                            Following
                        </a>
                    </li>
                    <li>
                        <a data-toggle="pill" data-target="#books">
                            Reviewed
                        </a>
                    </li>
                    <li>
                        <a data-toggle="pill" data-target="#booklist">
                            BookList
                        </a>
                    </li>


                    <li>
                        <a ng-show="model.adminlogin" data-toggle="pill" data-target="#manageuser">
                            Manage Users
                        </a>
                    </li>
                </ul>

                <div class="tab-content">


                    <div id="details" class="tab-pane fade in active">
                        <h3 ng-if="model.user.firstName">{{model.user.firstName}}'s Profile</h3>
                        <div ng-if="model.success" class="alert alert-success" role="alert">
                            {{model.success}}
                        </div>
                        <div ng-if="model.error" class="alert alert-danger" role="alert">
                            {{model.error}}
                        </div>
                        <form name="profileForm">
                            <label for="username">Username
                                <input ng-model="model.user.username"
                                       type="text"
                                       class="form-control"
                                       placeholder="alice"
                                       id="username"/>
                            </label>
                            <label for="emailID">Email
                                <input ng-model="model.user.email"
                                       type="email"
                                       class="form-control"
                                       placeholder="alice@gmail.com"
                                       id="emailID"/>
                            </label>
                            <label for="first-name">First Name
                                <input ng-model="model.user.firstName"
                                       type="text"
                                       class="form-control"
                                       placeholder="Alice"
                                       id="first-name"/>
                            </label>
                            <label for="last-name">Last Name
                                <input ng-model="model.user.lastName"
                                       type="text"
                                       class="form-control"
                                       placeholder="Wonderland"
                                       id="last-name"/>
                            </label>
                            <label for="dob">Date Of Birth
                                <input ng-model="model.user.dob"
                                       type="date"
                                       class="form-control"
                                       placeholder="mm/dd/yyyy"
                                       id="dob"/>
                            </label>
                        </form>
                        <form action="/api/uploads"  method="post" enctype="multipart/form-data">
                            <label for="upload">Upload</label>
                            <input  name="myFile" type="file" class="form-control" id="upload"/>
                            <!--<input  name="width" value="{{model.user.width}}" style="display: none"/>-->
                            <!--<input  name="widgetId" value="{{model.widget._id}}"   style="display: none"/>-->
                            <!--<input name="pageId" value="{{model.pageId}}" style="display: none"/>-->
                            <!--<input name="websiteId" value="{{model.websiteId}}" style="display: none"/>-->
                            <input name="userId" value="{{model.user._id}}" style="display: none"/>
                            <input name="name" value="{{model.username}}" style="display: none"/>
                            <button type="submit" class="btn btn-block btn-primary upload-button">Upload Image</button>
                            <a ng-click="model.updateUser(model.user)"
                               class="btn btn-success btn-block">Update Profile</a>
                            <a ng-click="model.unregister()"
                               class="btn btn-danger btn-block">Unregister</a>
                        </form>
                    </div>

                    <div id="followers" class="tab-pane fade">
                        <div ng-if="!model.user.followers" class="alert alert-danger" role="alert">
                            <span>Currently you have no followers</span>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-repeat="follower in model.user.followers">
                                    <div class="panel panel-default">
                                        <div class="panel-body followersPanel">
                                            <a ng-click="model.getUserProfile(follower.userId)">
                                                <h4>{{follower.username}}</h4>
                                            </a>
                                            <a ng-if="model.isFollowing(follower.userId)"
                                               ng-click="model.unfollowUser(follower.userId)"
                                               class="btn btn-sm btn-danger pull-right">Unfollow {{follower.username}}</a>
                                            <a ng-if="!model.isFollowing(follower.userId)"
                                               ng-click="model.followUser(follower.userId, follower.username)"
                                               class="btn btn-sm btn-success pull-right">Follow {{follower.username}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="following" class="tab-pane fade">
                        <div ng-if="!model.user.following" class="alert alert-danger" role="alert">
                            <span>Currently you are not following anyone</span>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-repeat="following in model.user.following">
                                    <div class="panel panel-default">
                                        <div class="panel-body followersPanel">
                                            <a ng-click="model.getUserProfile(following.userId)">
                                                <h4>{{following.username}}</h4>
                                            </a>
                                            <a ng-if="model.isFollowing(following.userId)"
                                               ng-click="model.unfollowUser(following.userId)"
                                               class="btn btn-sm btn-danger pull-right">Unfollow {{following.username}}</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="books" class="tab-pane fade">
                        <div ng-if="model.user.booksReviewed.length==0" class="alert alert-danger" role="alert">
                            <span>No Books reviewed!!</span>
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-repeat="book in model.user.booksReviewed">
                                    <div class="panel panel-default">
                                        <div class="panel-body followersPanel">
                                            <a href ng-click="model.getBookDetails(book.bookId)">
                                                <!--ng-click="model.getBookInfo(book.bookTitle)"-->
                                                <img ng-src="{{book.bookCover}}" width="10%">
                                            </a>
                                            <a href ng-click="model.getBookDetails(book.bookId)" style="color: black" >

                                                <b>{{book.bookTitle}}</b>
                                            </a>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div id="booklist" class="tab-pane fade">
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-repeat="book in model.user.booklist">
                                    <div class="panel panel-default">
                                        <div class="panel-body followersPanel">

                                            <a >
                                                <!--ng-click="model.getBookInfo(book.bookTitle)"-->
                                                <img ng-src="{{book.bookCover}}" width="10%">
                                            </a>
                                            <a href ng-click="model.getBookDetails(book.bookId)"style="color: black">
                                                <!--&nbsp;ng-click="model.getBookInfo(book.bookTitle)"-->

                                                <b> {{book.bookTitle}}</b>

                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div id="manageuser" class="tab-pane fade">
                        <div class="row">
                            <div class="col-xs-12">
                                <div ng-repeat="user in model.userlist">
                                    <div class="panel panel-default">
                                        <div class="panel-body followersPanel">
                                            <a style="color: black">
                                                <!--&nbsp;ng-click="model.getBookInfo(book.bookTitle)"-->
                                                <a href="#/user/{{user._id}}">
                                                <b >{{user.username}}</b>
                                                </a>

                                                <a href ng-click="model.deleteUser(user)"class="btn btn-danger pull-right">Delete</a>
                                                    </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<nav class="navbar navbar-default navbar-fixed-bottom">
    <div class="container-fluid">
        <div class="navbar-inner">
            <p class="navbar-text">
                <!--<="history.go(-1) == /login"></if>-->
                <a onClick="history.go(-1);return true;" class="navbar-link">
                    <span class="glyphicon glyphicon-chevron-left "></span>
                </a>
            </p>
        </div>
    </div>
</nav>